SECRET_KEY=change-this-to-a-long-random-string
DEBUG=False
ALLOWED_HOSTS=https://kra-smartasset-assistance-system.onrender.com
DATABASE_URL=postgresql://neondb_owner:YOUR_PASSWORD@ep-noisy-sky-ax7lujna-pooler.c-4.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
CORS_ALLOWED_ORIGINS=https://kra-smart-asset-assistance-system-q.vercel.app
CSRF_TRUSTED_ORIGINS=https://kra-smartasset-assistance-system.onrender.com
CLOUDINARY_CLOUD_NAME=YOUR_CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY=YOUR_CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET=YOUR_CLOUDINARY_API_SECRET
RESEND_API_KEY=YOUR_RESEND_API_KEY
DEFAULT_FROM_EMAIL=onboarding@resend.dev
FRONTEND_URL=https://kra-smart-asset-assistance-system-q.vercel.app
